.menu_top {
  display: inline;
  margin-left: 550px;
}
.item_menu_top {
  display: inline;
  margin-right: 20px;
}
.logo_top {
  display: inline;
  padding; 100px
}
header {
    background-color: black;
}